# AffordMed Eval Credentials
# Fill in your clientID and clientSecret after registration

NEXT_PUBLIC_CLIENT_ID=PASTE_YOUR_CLIENT_ID_HERE
NEXT_PUBLIC_CLIENT_SECRET=PASTE_YOUR_CLIENT_SECRET_HERE
NEXT_PUBLIC_AUTH_EMAIL=aman1770.be23@chitkara.edu.in
NEXT_PUBLIC_AUTH_NAME=Aman Kumar
NEXT_PUBLIC_ACCESS_CODE=ap5hkc
